/*
 * @Author: 东林
 * @Date: 2022-03-14 13:58:15
 * @description: 自动填充组件样式
 */
.doga-auto-complete {
  position: relative;
}
.doga-suggestion-list {
  list-style:none;
  padding-left: 0;
  white-space: nowrap;
  position: absolute;
  background: $white;
  z-index: 100;
  top: calc(100% + 8px);
  left: 0;
  border-radius: $border-radius;
  border: $menu-border-width solid $menu-border-color;
  box-shadow: $submenu-box-shadow;
  width: 100%;
  .suggstions-loading-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 75px;
  }
  .suggestion-item {
    padding: $menu-item-padding-y $menu-item-padding-x;
    overflow: hidden;
    cursor: pointer;
    transition: $menu-transition;
    color: $body-color;
    &.is-active {
      background-color: $menu-item-active-background-color !important;
    }
    &:hover {
      background-color: $menu-item-active-background-color !important;
    }
  }
}