/*
 * @Author: 东林
 * @Date: 2022-03-13 02:10:29
 * @description: 按钮样式
 */

/* 初始化 */
.doga-button {
  position: relative;
  display: inline-block;
  font-weight: $font-weight-normal;
  line-height: 1.5;
  color: $gray-black;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  transition: color .25s ease-in-out, background-color .25s ease-in-out, border-color .25s ease-in-out, box-shadow .25s ease-in-out;

  @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $border-radius);

  /* 自适应宽度 */
  &.block{
    width: 100%;
  }

  /* 禁用状态 */
  &.disabled,
  &[disabled] {
    cursor: not-allowed;
    box-shadow: none;
    opacity: $btn-disabled-opacity;

    > * {
      pointer-events: none;
    }
  }
}

/* 上下内边距, 左右那边句, 字体大小, 边框圆角 */
/* 大号 */
.button-lg {
  @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg, $btn-border-radius-lg);
}

/* 小号 */
.button-sm {
  @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-border-radius-sm);
}

/* 背景颜色, 边框颜色, 字体颜色, 交互背景颜色, 交互边框颜色, 交互字体颜色 */
/* 主要 */
.button-primary {
  @include button-style($primary, $primary, $white);
}

/* 文本 */
.button-text {
  @include button-style($white, $white, $black, $gray-200, $gray-200, $black);
}

/* 成功 */
.button-success {
  @include button-style($success, $success, $white);
}

/* 警告 */
.button-warning {
  @include button-style($warning, $warning, $white);
}

/* 信息 */
.button-info {
  @include button-style($info, $info, $white);
}

/* 危险 */
.button-danger {
  @include button-style($danger, $danger, $white);
}

/* 默认 */
.button-default {
  @include button-style($white, $gray-300, $body-color, $white, $gray-500, $body-color);
}

/* 链接 */
.button-link {
  font-weight: $font-weight-normal;
  color: $btn-link-color;
  text-decoration: $link-decoration;
  box-shadow: none;

  &:hover {
    color: $btn-link-hover-color;
    text-decoration: $link-hover-decoration;
  }

  &:focus,
  &.focus {
    text-decoration: $link-hover-decoration;
    box-shadow: none;
  }

  &:disabled,
  &.disabled {
    color: $btn-link-disabled-color;
    pointer-events: none;
  }
}
