/*
 * @Author: 东林
 * @Date: 2022-04-18 15:56:22
 * @description: 切换选择器组件样式
 */
.doga-switch {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 60px;
  height: 30px;
  color: $gray-400;
  border-radius: 30px;
  border: $input-border-width solid $gray-200;
  cursor: pointer;
  position: relative;

  .doga-switch-circle {
    width: 20px;
    height: 20px;
    background-color: $gray-500;
    border-radius: 50%;
    position: absolute;
    left: 5px;

    &.selected {
      left: auto;
      right: 5px;
      background-color: $gray-700;
    }
  }
}

.doga-switch-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 40px;
  height: 30px;
  color: $gray-400;
  border: $input-border-width solid $gray-200;
  cursor: pointer;

  &.selected {
    color: $gray-700;
    border: $input-border-width solid $gray-500;
  }

  & > * {
    font-size: 20px;
    font-weight: bold;
  }
}